<%= link_to '<戻る', calendar_tasks_path %>
<h1>ブックマーク</h1>

<ul>
  <% @tasks.each do | task | %>
    <li>
      <%= task.title %>
      <%= link_to '詳細', task_path(task.id) %>
      <%= link_to '削除', task_path(task.id), method: :delete ,data: { confirm: '本当に削除してよろしですか？'}, class: "btn btn-outline-danger" %>
    </li>
  <% end %>
</ul>