<%= link_to '<戻る', 'javascript:history.back()', class: "browser_back" %>
<div class="page_title">
  <p>使い方</p>
</div>

<h3>概要</h3><br>
こちらはOCR（文字認識機能）を用い、<br>
紙の指示書から必要な情報を抜き出してタスク化するアプリです。<br>
<br><br>

<h3>1.新規作成画面に移動</h3><br>
<div class="instruction_image">
<%= image_tag'instructions_01.png' %><br>
</div>
<br>

<h3>2.指示書を撮影、または画像をアップ</h3><br>
<div class="instruction_image">
<%= image_tag'instructions_02.png' %><br>
</div>
<br>

<h3>3.保存</h3><br>
<div class="instruction_image">
<%= image_tag'instructions_03.png' %><br>
</div>
<br>
<br>