// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// エラーが出た時にCSSを崩さない
.field_with_errors {
  display: contents;
}

.center {
  text-align: center;
}

#notice {
  color: #198754;
  background-color: #d1e7dd;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}

#danger {
  color: #dc3545;
  background-color: #f8d7da;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}