// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.image_size_default, .preview{
  max-width: 300px;
}

.task_key {
  // color: #d9e3ec;
  font-size: medium;
  // padding-bottom: 0;
}

.task_value {
  width: 100%;
  // padding-top: 0;
}

.task_value_short{
  width: 90%;
}

.working_process_side {
  display: flex;        /* 子要素をflex化 */
  flex-direction: row;  // 横並び
}

.time_unit {
  display: flex;        /* 子要素をflex化 */
  justify-content: center;  // 上下中央よせ
  align-items: center;  // 左右中央よせ
  // height: 50%;
  margin-top: auto;
  margin-bottom: auto;
  // flex-direction: row;  // 横並び　
}

.task_show table {
  min-width: 400px;
  min-width: 460px;
}

.task_show_td_icon {
  width: 50px;
}