// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.image_size_default, .preview{
  max-width: 300px;
}

.browser_back{
  position:fixed;
  z-index: 9999;/*ボタンを最前面に*/
  top:20px;
  left: 10px;
  cursor: pointer;
  width: 50px;
  height:50px;
}

.user_icon{
  position:fixed;
  top:20px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height:50px;
}

.page_title{
  top:10px;
  height:70px;
  text-align: center;
  pointer-events: none
}

.page_title p {
  position:fixed;
  inset: 0;
  top:20px;
  text-align: center;
  pointer-events: none
}